@model DomainStorm.Project.TWCrepair.Report.Web.Views.RA002
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0085)http://localhost/pw/assign/printreportsAllDefine.aspx?Page1=1&Page2=0&Page3=0&Page4=0 -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>

    </title>

    <style type="text/css">        BODY { FONT-SIZE: 10pt; FONT-FAMILY: 新細明體 }
            A:link { FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: blue; LINE-HEIGHT: 16px }
            A:visited { FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: blue; LINE-HEIGHT: 16px }
            A:hover { FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: red; LINE-HEIGHT: 16px }
            TD { FONT-SIZE: 10pt; FONT-FAMILY: 新細明體; LINE-HEIGHT: 16px }
            INPUT { FONT-SIZE: 10pt; FONT-FAMILY: 新細明體; LINE-HEIGHT: 16px }
            SELECT { FONT-SIZE: 10pt; FONT-FAMILY: 新細明體; LINE-HEIGHT: 16px }
            LABEL { FONT-SIZE: 10pt; FONT-FAMILY: 新細明體; LINE-HEIGHT: 16px }

            #Mattc tr td:first-child {
          min-width:  200px;
         }
    </style>
    <style type="text/css">

        .cPrintOnly { PAGE-BREAK-BEFORE: always; DISPLAY: none }

        .cPrintAfter { PAGE-BREAK-AFTER: always; DISPLAY: block; }

        .avoidBreak{page-break-inside:avoid;}
        .avoidBreak2{page-break-inside:avoid; display:block;}
    </style>
    <style>

    </style>
</head>
<body style=" margin-left:10px;margin-top:auto" onload="onload()" marginwidth="0" marginheight="0">
    <!-- MeadCo ScriptX Control -->
    <object style="DISPLAY: none" id="factory" codebase="http://localhost/pw/ini/smsx.cab#Version=7,6,0,10" classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814" viewastext="">
    </object>



    <form method="post" action="http://localhost/pw/assign/printreportsAllDefine.aspx?Page1=1&amp;Page2=0&amp;Page3=0&amp;Page4=0" id="form1">
        
        <table id="PrintTable" cellspacing="0" cellpadding="0" style="border-color:Transparent;border-width:0px;border-style:None;width:700px;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td align="left" valign="middle">
                        <table cellspacing="0" cellpadding="0" style="border-width:0px;height:1050px;width:707px;border-collapse:collapse;">
                            <tbody>
                                <tr class="avoidBreak">
                                    <td align="left" valign="top">
                                        <table cellspacing="0" cellpadding="0" style="border-color:Black;border-width:0px;border-style:None;height:1000px;width:700px;border-collapse:collapse;">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top">
                                                        <table cellspacing="0" cellpadding="0" style="border-color:Transparent;border-width:0px;width:720px;border-collapse:collapse;">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" style="border-color:Black;width:715px;">
                                                                        <table cellspacing="0" cellpadding="0" style="border-width:0px;width:715px;border-collapse:collapse;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" style="border-color:Black;width:290px;white-space:nowrap;">案號：<font color="#000000">@Model.FixCaseNo<font color="#000000"></font></font></td>
                                                                                    <td align="left" style="border-color:Black;font-size:11pt;width:170px;white-space:nowrap;">修漏案件處理單</td>
                                                                                    <td align="left" style="border-color:Black;width:90px;white-space:nowrap;">@Html.CheckBoxFor(m => m.IsCharge)<label for="ctl07">收費：<font color="#000000">@Model.Cost</font>元</label></td>
                                                                                    <td align="left" style="border-color:Black;width:150px;white-space:nowrap;"><span style="color:#000000;">@Html.CheckBoxFor(m => m.IsFree)<label for="ctl08">免費 @Model.PrintDate.ToString("MM/dd/yyyy") 印表</label></span></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="border-color:Black;width:715px;">
                                                                        <table cellspacing="0" cellpadding="0" style="border-color:Black;border-width:0px;width:715px;border-collapse:collapse;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" style="border-color:Black;width:70px;white-space:nowrap;"></td>
                                                                                    <td align="left" style="border-color:Black;width:80px;white-space:nowrap;"></td>
                                                                                    <td align="left" style="border-color:Black;width:200px;white-space:nowrap;"></td>
                                                                                    <td align="left" style="border-color:Black;width:90px;white-space:nowrap;"></td>
                                                                                    <td align="left" style="border-color:Black;width:60px;white-space:nowrap;"></td>
                                                                                    <td align="left" style="border-color:Black;width:145px;white-space:nowrap;"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="5" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">報修位置：<font color="#000000">@Model.Location</font></td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;width:140px;white-space:nowrap;">水號：<font color="#000000">@Model.WaterNo</font></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" valign="top" colspan="3" rowspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">報修內容：<font color="#000000">@Model.FixDescription</font></td>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">手機：<font color="#000000">@Model.ReporterMobile</font></td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">報修人姓名：<font color="#000000">@Model.Reporter</font></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">受理時間：<font color="#000000">@(Model.AcceptanceTime.Year - 1911)</font>年<font color="#000000">@Model.AcceptanceTime.ToString("MM月dd日HH時mm分")</font></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="1" rowspan="2" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">案件來源：</td>
                                                                                    <td align="left" colspan="3" rowspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl10" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>@Html.CheckBoxFor(m => m.Source_IsPeople)<label for="ctl10_0"><font color="#000000">其他民眾</font></label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.Source_IsEmployee)<label for="ctl10_1">員工報修</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.Source_IsCheckDepartment)><label for="ctl10_2">檢漏單位</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.Source_IsOther)<label for="ctl10_3">其它機關</label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl11" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>@Html.CheckBoxFor(m => m.IsEmergency)<label for="ctl11_0">緊急</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.NotEmergency)<label for="ctl11_1"><font color="#000000">非緊急</font></label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl12" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>@Html.CheckBoxFor(m => m.HolidayCaseType_Day)<label for="ctl12_0"><font color="#000000">日間</font></label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.HolidayCaseType_Night)<label for="ctl12_1">夜間</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.HolidayCaseType_Ratio)<label for="ctl12_2">按比例</label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">派工時間：@Model.DispatchTimeString</td>
                                                                                    <td align="left" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">修復期限：@Model.FixDeadlineString</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">開工時間：@Model.StartTimeString</td>
                                                                                    <td align="left" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">@Html.CheckBoxFor(m=>m.HolidayCase)<label for="ctl13">假日案件</label></td>
                                                                                    <td align="left" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">修復時間：@Model.FixTimeString</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="6" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">確認漏水點時間：@Model.ConfirmTimeString</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" rowspan="4" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">案件屬性：</td>
                                                                                    <td align="left" colspan="5" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl14" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>@Html.CheckBoxFor(m=>m.CaseAttribute_IsLeak)<label for="ctl14_0">漏水案件</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.CaseAttribute_IsNoWater)<label for="ctl14_1">無水處理</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.CaseAttribute_IsTurbid)<label for="ctl14_2">水質混濁</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.CaseAttribute_IsMigrate)<label for="ctl14_3">配合遷移</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.CaseAttribute_IsNoLeak)<label for="ctl14_4">挖無漏水</label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.CaseAttribute_IsBoxTop)<label for="ctl14_5">閥栓盒蓋處理 </label></td>
                                                                                                    <td>@Html.CheckBoxFor(m => m.CaseAttribute_IsOther)<label for="ctl14_6"><font color="#000000">其它</font>-@Model.CaseAttribute_Other</label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="5" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl15" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl15_0" type="checkbox" name="ctl15$0" value="管線                "/><label for="ctl15_0">管線                </label></td>
                                                                                                    <td><input id="ctl15_1" type="checkbox" name="ctl15$1" value="附屬設備            "/><label for="ctl15_1">附屬設備            </label></td>
                                                                                                    <td><input id="ctl15_2" type="checkbox" name="ctl15$2" checked="checked" value="&lt;font color=&#39;#000000&#39;&gt;表箱另件            &lt;/font&gt;"/><label for="ctl15_2"><font color="#000000">表箱另件            </font></label></td>
                                                                                                    <td><input id="ctl15_3" type="checkbox" name="ctl15$3" value="其它                "/><label for="ctl15_3">其它                </label></td>
                                                                                                    <td><input id="ctl15_4" type="checkbox" name="ctl15$4" value="汰換新管,舊管未廢"/><label for="ctl15_4">汰換新管,舊管未廢</label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="5" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl16" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl16_0" type="checkbox" name="ctl16$0" value="自修                "/><label for="ctl16_0">自修                </label></td>
                                                                                                    <td><input id="ctl16_1" type="checkbox" name="ctl16$1" checked="checked" value="&lt;font color=&#39;#000000&#39;&gt;委外                易原工程有限公司[合約編號:113-12-20]&lt;/font&gt;"/><label for="ctl16_1"><font color="#000000">委外                易原工程有限公司[合約編號:113-12-20]</font></label></td>
                                                                                                    <td><input id="ctl16_2" type="checkbox" name="ctl16$2" value="保固修理            "/><label for="ctl16_2">保固修理            </label></td>
                                                                                                    <td><input id="ctl16_3" type="checkbox" name="ctl16$3" value="其它                "/><label for="ctl16_3">其它                </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="5" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">管徑或規格：<font color="#000000">20</font>&#160;mm</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">管種：</td>
                                                                                    <td align="left" colspan="5" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl17" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl17_0" type="checkbox" name="ctl17$0" value="DIP       "/><label for="ctl17_0">DIP       </label></td>
                                                                                                    <td><input id="ctl17_1" type="checkbox" name="ctl17$1" value="CIP       "/><label for="ctl17_1">CIP       </label></td>
                                                                                                    <td><input id="ctl17_2" type="checkbox" name="ctl17$2" value="SP        "/><label for="ctl17_2">SP        </label></td>
                                                                                                    <td><input id="ctl17_3" type="checkbox" name="ctl17$3" value="SSP       "/><label for="ctl17_3">SSP       </label></td>
                                                                                                    <td><input id="ctl17_4" type="checkbox" name="ctl17$4" value="PSCP      "/><label for="ctl17_4">PSCP      </label></td>
                                                                                                    <td><input id="ctl17_5" type="checkbox" name="ctl17$5" value="PCCP      "/><label for="ctl17_5">PCCP      </label></td>
                                                                                                    <td><input id="ctl17_6" type="checkbox" name="ctl17$6" value="FRP       "/><label for="ctl17_6">FRP       </label></td>
                                                                                                    <td><input id="ctl17_7" type="checkbox" name="ctl17$7" value="PVCP      "/><label for="ctl17_7">PVCP      </label></td>
                                                                                                    <td><input id="ctl17_8" type="checkbox" name="ctl17$8" value="PVCP/PE   "/><label for="ctl17_8">PVCP/PE   </label></td>
                                                                                                    <td><input id="ctl17_9" type="checkbox" name="ctl17$9" value="ABSP      "/><label for="ctl17_9">ABSP      </label></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><input id="ctl17_10" type="checkbox" name="ctl17$10" value="HDPEP     "/><label for="ctl17_10">HDPEP     </label></td>
                                                                                                    <td><input id="ctl17_11" type="checkbox" name="ctl17$11" value="HIWP      "/><label for="ctl17_11">HIWP      </label></td>
                                                                                                    <td><input id="ctl17_12" type="checkbox" name="ctl17$12" value="其他      "/><label for="ctl17_12">其他      </label></td>
                                                                                                    <td><input id="ctl17_13" type="checkbox" name="ctl17$13" value="殘存管    "/><label for="ctl17_13">殘存管    </label></td>
                                                                                                    <td><input id="ctl17_14" type="checkbox" name="ctl17$14" value="接合管鞍  "/><label for="ctl17_14">接合管鞍  </label></td>
                                                                                                    <td><input id="ctl17_15" type="checkbox" name="ctl17$15" value="RCP       "/><label for="ctl17_15">RCP       </label></td>
                                                                                                    <td><input id="ctl17_16" type="checkbox" name="ctl17$16" value="GIP       "/><label for="ctl17_16">GIP       </label></td>
                                                                                                    <td><input id="ctl17_17" type="checkbox" name="ctl17$17" value="STEEL     "/><label for="ctl17_17">STEEL     </label></td>
                                                                                                    <td><input id="ctl17_18" type="checkbox" name="ctl17$18" value="WSP       "/><label for="ctl17_18">WSP       </label></td>
                                                                                                    <td><input id="ctl17_19" type="checkbox" name="ctl17$19" value="LP        "/><label for="ctl17_19">LP        </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table><table id="ctl18" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl18_0" type="checkbox" name="ctl18$0" checked="checked" value="送配給水管(清水)"/><label for="ctl18_0">送配給水管(清水)</label></td>
                                                                                                    <td><input id="ctl18_1" type="checkbox" name="ctl18$1" value="導水管(原水)&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp埋設民國年份&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; 年&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;管線漏水位置"/><label for="ctl18_1">導水管(原水)&#160;&#160;&#160;&#160;&#160;&#160;埋設民國年份&#160;&#160;&#160;&#160;&#160;&#160; 年&#160;&#160;&#160;&#160;管線漏水位置</label></td>
                                                                                                    <td><input id="ctl18_2" type="checkbox" name="ctl18$2" value="管體"/><label for="ctl18_2">管體</label></td>
                                                                                                    <td><input id="ctl18_3" type="checkbox" name="ctl18$3" value="另件及接頭"/><label for="ctl18_3">另件及接頭</label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" rowspan="2" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">附屬設備：</td>
                                                                                    <td align="left" colspan="4" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl19" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl19_0" type="checkbox" name="ctl19$0" value="制水閥    "/><label for="ctl19_0">制水閥    </label></td>
                                                                                                    <td><input id="ctl19_1" type="checkbox" name="ctl19$1" value="地上消栓  "/><label for="ctl19_1">地上消栓  </label></td>
                                                                                                    <td><input id="ctl19_2" type="checkbox" name="ctl19$2" value="地下消栓  "/><label for="ctl19_2">地下消栓  </label></td>
                                                                                                    <td><input id="ctl19_3" type="checkbox" name="ctl19$3" value="排氣閥    "/><label for="ctl19_3">排氣閥    </label></td>
                                                                                                    <td><input id="ctl19_4" type="checkbox" name="ctl19$4" value="其他      "/><label for="ctl19_4">其他      </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl20" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl20_0" type="checkbox" name="ctl20$0" value="修理      "/><label for="ctl20_0">修理      </label></td>
                                                                                                    <td><input id="ctl20_1" type="checkbox" name="ctl20$1" value="換新      "/><label for="ctl20_1">換新      </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="4" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl21" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl21_0" type="checkbox" name="ctl21$0" value="制水閥盒  "/><label for="ctl21_0">制水閥盒  </label></td>
                                                                                                    <td><input id="ctl21_1" type="checkbox" name="ctl21$1" value="消防栓箱  "/><label for="ctl21_1">消防栓箱  </label></td>
                                                                                                    <td><input id="ctl21_2" type="checkbox" name="ctl21$2" value="窨井蓋    "/><label for="ctl21_2">窨井蓋    </label></td>
                                                                                                    <td><input id="ctl21_3" type="checkbox" name="ctl21$3" value="其他      "/><label for="ctl21_3">其他      </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;height:20px;white-space:nowrap;">
                                                                                        <table id="ctl22" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl22_0" type="checkbox" name="ctl22$0" value="升降      "/><label for="ctl22_0">升降      </label></td>
                                                                                                    <td><input id="ctl22_1" type="checkbox" name="ctl22$1" value="修理或換新"/><label for="ctl22_1">修理或換新</label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;height:20px;width:70px;white-space:nowrap;">表箱另件：</td>
                                                                                    <td align="left" colspan="4" style="border-color:Black;border-width:1px;border-style:solid;height:20px;white-space:nowrap;">
                                                                                        <table id="ctl23" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl23_0" type="checkbox" name="ctl23$0" checked="checked" value="&lt;font color=&#39;#000000&#39;&gt;止水栓    -更換水心塞及上蓋&lt;/font&gt;"/><label for="ctl23_0"><font color="#000000">止水栓    -更換水心塞及上蓋</font></label></td>
                                                                                                    <td><input id="ctl23_1" type="checkbox" name="ctl23$1" value="管套節    "/><label for="ctl23_1">管套節    </label></td>
                                                                                                    <td><input id="ctl23_2" type="checkbox" name="ctl23$2" value="其他      "/><label for="ctl23_2">其他      </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;height:20px;white-space:nowrap;">
                                                                                        <table id="ctl24" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl24_0" type="checkbox" name="ctl24$0" checked="checked" value="&lt;font color=&#39;#000000&#39;&gt;修理      &lt;/font&gt;"/><label for="ctl24_0"><font color="#000000">修理      </font></label></td>
                                                                                                    <td><input id="ctl24_1" type="checkbox" name="ctl24$1" value="換新      "/><label for="ctl24_1">換新      </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" rowspan="3" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">挖填狀況：</td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;"><input id="ctl25" type="checkbox" name="ctl25"/><label for="ctl25">挖土機</label></td>
                                                                                    <td align="left" valign="bottom" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">長x寬x深=____x____x____,____x____x____</td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">挖方：_______m<sup>3</sup></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;"><input id="ctl26" type="checkbox" name="ctl26"/><label for="ctl26">人工挖掘</label></td>
                                                                                    <td align="left" valign="bottom" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">長x寬x深=____x____x____,____x____x____</td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">挖方：_______m<sup>3</sup></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="5" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">原砂:____m<sup>3</sup>&#160;換填砂:____m<sup>3</sup>&#160;原級配:____m<sup>3</sup>&#160;換填級配:____m<sup>3</sup>&#160;多功能再生混凝土(MRC):____m<sup>3</sup>&#160;<br/>換填高流動性低強度混凝土:____m<sup>3</sup>&#160;原土回填:____m<sup>3</sup>&#160;殘土處理:____m<sup>3</sup>混凝土(141Kg/121Kg):_____m<sup>3</sup></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" rowspan="3" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">柏油路面：</td>
                                                                                    <td align="left" valign="bottom" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">拆除：&#160;長x寬x厚=____x____x____,____x____x____</td>
                                                                                    <td align="left" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">切割長：____m&#160;拆除：____m<sup>2</sup>&#160;切割：____m<sup>2</sup></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" valign="bottom" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">一次修復&#160;長x寬x厚=____x____x____,____x____x____</td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">面積:____m<sup>2</sup></td>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl27" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl27_0" type="checkbox" name="ctl27$0" value="3cm瀝鎂土 "/><label for="ctl27_0">3cm瀝鎂土 </label></td>
                                                                                                    <td><input id="ctl27_1" type="checkbox" name="ctl27$1" value="5cm熱拌AC "/><label for="ctl27_1">5cm熱拌AC </label></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><input id="ctl27_2" type="checkbox" name="ctl27$2" value="5cm瀝鎂土 "/><label for="ctl27_2">5cm瀝鎂土 </label></td>
                                                                                                    <td><input id="ctl27_3" type="checkbox" name="ctl27$3" value="10cmAC    "/><label for="ctl27_3">10cmAC    </label></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><input id="ctl27_4" type="checkbox" name="ctl27$4" value="15cmAC    "/><label for="ctl27_4">15cmAC    </label></td>
                                                                                                    <td><input id="ctl27_5" type="checkbox" name="ctl27$5" value="20cmAC    "/><label for="ctl27_5">20cmAC    </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;"><span>二次修復&#160;長x寬x厚=____x____x____,____x____x____<br/>路面正式修復時間:　　年　　月　　日　　時　　分<br/></span><input id="ctl29" type="checkbox" name="ctl29"/><label for="ctl29">路權代修___________元</label></td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">面積:____m<sup>2</sup></td>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">
                                                                                        <table id="ctl30" cellspacing="0" cellpadding="0" style="height:10px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><input id="ctl30_0" type="checkbox" name="ctl30$0" value="5cmAC     "/><label for="ctl30_0">5cmAC     </label></td>
                                                                                                    <td><input id="ctl30_1" type="checkbox" name="ctl30$1" value="5cm瀝鎂土 "/><label for="ctl30_1">5cm瀝鎂土 </label></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><input id="ctl30_2" type="checkbox" name="ctl30$2" value="10cmAC    "/><label for="ctl30_2">10cmAC    </label></td>
                                                                                                    <td><input id="ctl30_3" type="checkbox" name="ctl30$3" value="15cmAC    "/><label for="ctl30_3">15cmAC    </label></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><input id="ctl30_4" type="checkbox" name="ctl30$4" value="20cmAC    "/><label for="ctl30_4">20cmAC    </label></td>
                                                                                                    <td><input id="ctl30_5" type="checkbox" name="ctl30$5" value="20cm以上  "/><label for="ctl30_5">20cm以上  </label></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" rowspan="2" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">混凝土路：</td>
                                                                                    <td align="left" valign="bottom" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">拆除:長x寬x厚=____x____x____,____x____x____</td>
                                                                                    <td align="left" colspan="3" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">切割長：____m&#160;拆除：____m<sup>3</sup>&#160;切割：____m<sup>2</sup></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left" valign="bottom" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">修復:長x寬x厚=____x____x____,____x____x____</td>
                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;width:70px;white-space:nowrap;">體積:____m<sup>3</sup></td>
                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;"><input id="ctl31" type="checkbox" name="ctl31"/><label for="ctl31">路權代修________元</label></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="border-color:Black;border-width:0px;width:720px;">
                                                                        <table cellspacing="0" cellpadding="0" style="border-width:0px;width:720px;border-collapse:collapse;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" valign="top" style="border-color:Black;width:737px;">
                                                                                        <table id="Mattc" cellspacing="0" cellpadding="0" style="border-color:Black;border-width:0px;width:737px;border-collapse:collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:267px;white-space:nowrap;">管件材料</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:160px;white-space:nowrap;">規格</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">單位</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">數量</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">單價</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">金額</td>
                                                                                                    <td align="left" colspan="2" rowspan="4" style="border-color:Black;border-width:1px;border-style:solid;width:343px;white-space:nowrap;"><span style="display:inline-block;width:85px;">漏水原因：</span><span style="display:inline-block;width:85px;"><input id="ctl34" type="checkbox" name="ctl34"/><label for="ctl34">老化腐蝕</label></span><span style="display:inline-block;width:85px;"><input id="ctl35" type="checkbox" name="ctl35"/><label for="ctl35">荷重振動</label></span><span style="display:inline-block;width:85px;"><input id="ctl36" type="checkbox" name="ctl36"/><label for="ctl36">水錘</label></span><span><br/></span><span style="display:inline-block;width:85px;"><input id="ctl38" type="checkbox" name="ctl38"/><label for="ctl38">地盤下陷</label></span><span style="display:inline-block;width:85px;"><input id="ctl39" type="checkbox" name="ctl39"/><label for="ctl39">施工不良</label></span><span style="display:inline-block;width:85px;"><input id="ctl40" type="checkbox" name="ctl40"/><label for="ctl40">回填不良</label></span><span style="display:inline-block;width:85px;"><input id="ctl41" type="checkbox" name="ctl41"/><label for="ctl41">材質不良</label></span><span><br/></span><span style="display:inline-block;width:90px;"><input id="ctl43" type="checkbox" name="ctl43"/><label for="ctl43">工程施工</label></span><span style="display:inline-block;width:85px;"><input id="ctl44" type="checkbox" name="ctl44"/><label for="ctl44">其他</label></span><span style="display:inline-block;width:85px;"><input id="ctl45" type="checkbox" name="ctl45"/><label for="ctl45">老化</label></span><span style="display:inline-block;width:85px;"><input id="ctl46" type="checkbox" name="ctl46"/><label for="ctl46">腐蝕</label></span></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">PVCP</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">m</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">DIP</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">m/件</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">套管</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">只</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">螺栓壓圈配件</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">組</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="left" colspan="2" rowspan="3" style="border-color:Black;border-width:1px;border-style:solid;width:343px;white-space:nowrap;"><span style="display:inline-block;width:85px;">修理狀況：</span><span style="display:inline-block;width:60px;"><input id="ctl48" type="checkbox" name="ctl48"/><label for="ctl48">折斷</label></span><span style="display:inline-block;width:60px;"><input id="ctl49" type="checkbox" name="ctl49"/><label for="ctl49">空洞</label></span><span style="display:inline-block;width:60px;"><input id="ctl50" type="checkbox" name="ctl50"/><label for="ctl50">裂縫</label></span><span><br/></span><span style="display:inline-block;width:60px;"><input id="ctl52" type="checkbox" name="ctl52"/><label for="ctl52">脫接</label></span><span style="display:inline-block;width:60px;"><input id="ctl53" type="checkbox" name="ctl53"/><label for="ctl53">橡皮墊</label></span><span style="display:inline-block;width:60px;"><input id="ctl54" type="checkbox" name="ctl54"/><label for="ctl54">管鞍</label></span><span style="display:inline-block;width:60px;"><input id="ctl55" type="checkbox" name="ctl55"/><label for="ctl55">其他</label></span></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">伸縮接頭</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">只</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">止水栓</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">只</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;width:343px;white-space:nowrap;"><span style="display:inline-block;width:85px;">漏水情形：</span><span style="display:inline-block;width:85px;"><input id="ctl57" type="checkbox" name="ctl57"/><label for="ctl57">漏出地面</label></span><span style="display:inline-block;width:85px;"><input id="ctl58" type="checkbox" name="ctl58"/><label for="ctl58">滲入地下</label></span><span style="display:inline-block;width:85px;"><input id="ctl59" type="checkbox" name="ctl59"/><label for="ctl59">其他漏水</label></span></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="left" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;width:176px;white-space:nowrap;">修理好水壓：______kg/cm<sup>2</sup></td>
                                                                                                    <td align="left" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;width:176px;">日漏水量：______CMD</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="left" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;width:176px;">破管時水壓：______kg/cm<sup>2</sup></td>
                                                                                                    <td align="left" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;width:176px;">漏水面積：______cm<sup>2</sup></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="left" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;width:176px;">漏水時間：<font color="#000000">1.50</font>小時</td>
                                                                                                    <td align="left" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;width:176px;">總漏水量：______M<sup>3</sup></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="right" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;font-size:8pt;">&#160;</td>
                                                                                                    <td align="left" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;width:343px;white-space:nowrap;"><input id="ctl60" type="checkbox" name="ctl60"/><label for="ctl60">送配水管線及設備</label><input id="ctl61" type="checkbox" name="ctl61"/><label for="ctl61">用戶外線及設備</label><input id="ctl62" type="checkbox" name="ctl62"/><label for="ctl62">其他</label></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:260px;white-space:nowrap;">其他材料</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:60px;white-space:nowrap;">規格</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">單位</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">數量</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">單價</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">金額</td>
                                                                                                    <td align="left" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">廠商耗用工時</td>
                                                                                                    <td align="left" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">監工或處理人(簽章)</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;">砂</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;">m<sup>3</sup></td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="left" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">技術工_______時_______人</td>
                                                                                                    <td align="center" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;"><font color="#000000">謝金錄</font>   <font color="#000000">0.5</font>時</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;">級配</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;">m<sup>3</sup></td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="left" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">大&#160;&#160;&#160;&#160;工&#160;&#160;&#160;_______時_______人</td>
                                                                                                    <td align="center" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;">瀝鎂土</td>
                                                                                                    <td style="border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;">包</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="left" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">挖土機&#160;&#160;&#160;_______時</td>
                                                                                                    <td align="center" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="center" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;width:260px;white-space:nowrap;">廢料項目</td>
                                                                                                    <td align="center" colspan="2" style="border-color:Black;border-width:1px;border-style:solid;width:80px;white-space:nowrap;">規格</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">單位</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;width:32px;white-space:nowrap;">數量</td>
                                                                                                    <td align="left" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">附照片&#160;_______張</td>
                                                                                                    <td align="center" valign="top" colspan="1" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">&#160;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2" style="border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td colspan="2" style="border-color:Black;border-width:1px;border-style:solid;font-size:Smaller;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:Smaller;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">委外施工費__________元</td>
                                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">材料費__________元</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2" style="border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td colspan="2" style="border-color:Black;border-width:1px;border-style:solid;font-size:Smaller;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:Smaller;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">路權代修費__________元</td>
                                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">員工工資<font color="#000000">128.5</font>元</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="2" style="border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td colspan="2" style="border-color:Black;border-width:1px;border-style:solid;font-size:Smaller;">&#160;</td>
                                                                                                    <td align="center" style="border-color:Black;border-width:1px;border-style:solid;font-size:Smaller;">&#160;</td>
                                                                                                    <td align="center" style="color:#000000;border-color:Black;border-width:1px;border-style:solid;">&#160;</td>
                                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">其他(背面填列)__________元</td>
                                                                                                    <td align="left" style="border-color:Black;border-width:1px;border-style:solid;white-space:nowrap;">金額合計<font color="#000000">128.5</font>元</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="width:700px;">
                                                                        <table style="border-width:0px;width:700px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" style="border-width:0px;height:10px;width:150px;">&#160;&#160;派工：<font color="#000000">謝金錄</font></td>
                                                                                    <td align="left" style="border-width:0px;height:10px;width:150px;">稽核人員：<font color="#000000">林芳如</font></td>
                                                                                    <td align="left" style="border-width:0px;height:10px;width:200px;">初驗簽證：<font color="#000000"></font></td>
                                                                                    <td align="left" style="border-width:0px;height:10px;width:200px;">廠商:</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr class="cPrintAfter">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>