=@using DomainStorm.Framework.Services
@using DomainStorm.Framework.BlazorComponent.ViewModel
@using DomainStorm.Report.BlazorComponent.ViewModel
@using DomainStorm.Framework.BlazorComponent.Extensions
@using static DomainStorm.Project.TWCrepair.Repository.CommandModel.Report.V1;
@using AutoMapper
@using DomainStorm.Framework
@using System.Text
@using DomainStorm.Project.TWCrepair.Report.Web.Services
@using static DomainStorm.Framework.BlazorComponent.CommandModel.Department.V1;

@inject IGetService<Department, string> DepartmentGetService
@* @inject IGetService<TViewModel, string> TViewModelGetService *@
@* @inject IGetService<Stream, ReportConvertRequest> ReportService *@
@inject IReportInputOutputService<TViewModel, TInputModel, TQueryModel> ReportInputOutputService

@inject IMapper Mapper
@inject IJSRuntime Js

@typeparam TViewModel where TViewModel : ReportDataModel
@typeparam TInputModel where TInputModel : class, IReportSearch
@typeparam TQueryModel where TQueryModel : IQuery


<StormReportDownload TItem="TInputModel"
                     DataSet="@DataSet"
                     Title="@Title"
                     Icon="@Icon"
                     OnClearClick="OnClearClickAsync"
                     OnValidSubmit="OnValidSubmitAsync"
                     OnPreviewClick="OnPreviewClickAsync">
    <div class="mt-3">
        <storm-select label="區處別"
                      @ref="_selectRef"
                      @bind-value="@DataSet.DepartmentId"
                      @bind-value:event="onchange">
        </storm-select>
        @*<StormDepartmentSelect @ref="_departmentSelectRef" 
                                  Label="區處別"
                                  Value="@DataSet.Department">
        </StormDepartmentSelect>*@
    </div>
    @ChildContent
</StormReportDownload>

@if (_previewHtml != null)
{
    <storm-card>
        @(new MarkupString(_previewHtml))
    </storm-card>
}


@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public int Level { get; set; } = 1;

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public TInputModel DataSet { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string ViewName { get; set; } = null!;

    [Parameter]
    public EventCallback OnClearClick { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    private ElementReference _selectRef;
    // private StormDepartmentSelect _departmentSelectRef;
    private string? _previewHtml;
    private Option[] _departmentOptions = { new Option() { Id = "", Title = "---請選擇區處別---", Selected = true }};

    // protected override async Task OnInitializedAsync()
    // {
    //     await base.OnInitializedAsync();
    //     // var department = await DepartmentGetService.GetAsync<QuerySite>(new QuerySite());
    //     var department = await DepartmentGetService.GetAsync<QueryByLevel>(new QueryByLevel() { Level = Level });
    //     var departmentOptions = department.Departments.Select(x => new Option { Id = x.DepartmentId.ToString(), Title = x.Name, Selected = false }).ToArray();
    //     _departmentOptions = _departmentOptions.Concat(departmentOptions).ToArray();
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var department = await DepartmentGetService.GetAsync<QueryByLevel>(new QueryByLevel() { Level = Level });
            if (department.Departments != null)
            {
                var departmentOptions = department.Departments.Select(x => new Option { Id = x.DepartmentId.ToString(), Title = x.Name, Selected = false }).ToArray();
                _departmentOptions = _departmentOptions.Concat(departmentOptions).ToArray();
            }

            await Js.SetProperty(_selectRef, "dataSet", _departmentOptions);
            // await _departmentSelectRef.SetDataSetAsync(_departmentDataSet);
        }
    }

    private async Task OnClearClickAsync()
    {
        await OnClearClick.InvokeAsync();
    }

    private async Task OnValidSubmitAsync()
    {
        var convertRequest = await BuildReportConvertRequest();
        var outStream = await ReportInputOutputService.ConvertAsync(convertRequest);
        var outFileName = $"{Path.GetFileNameWithoutExtension(convertRequest.ViewName) }.{ convertRequest.Extension.ToString().ToLower()}";
        using var streamRef = new DotNetStreamReference(outStream);
        await Js.InvokeVoidAsync("downloadFileFromStream", outFileName, streamRef);

        await OnValidSubmit.InvokeAsync();
    }

    private async Task<ReportConvertRequest> BuildReportConvertRequest(IConvert.Extension? extension = default)
    {
        var queryModel = ReportInputOutputService.InputToQueryMap(DataSet);
        var viewModel = await ReportInputOutputService.GetAsync<TQueryModel>(queryModel);
        var convertRequest = new ReportConvertRequest
        {
            ViewName = ViewName,
            Model = viewModel,
            Extension = extension ?? DataSet.Extension
        };
        return convertRequest;
    }

    private async Task OnPreviewClickAsync()
    {
        var convertRequest = await BuildReportConvertRequest(IConvert.Extension.HTML);
        var outStream = await ReportInputOutputService.ConvertAsync(convertRequest);

        using var reader = new StreamReader(outStream, Encoding.UTF8);
        outStream.Seek(0, SeekOrigin.Begin);
        _previewHtml = await reader.ReadToEndAsync();
    }
}
